<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
		integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<title>Category List</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<!--			Online Book Store Logo and Heading
--> <a class="navbar-brand" href="#">
				<img th:src="@{/images/logo.png}" src="../static/images/logo.png" width="auto" height="40"
					class="d-inline-block align-top" alt="" />
				Online Book Store
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto"></ul>
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/admin-page}" href="#">admin-home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/logout}" href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
					</li>

				</ul>

			</div>
		</div>
	</nav>
	<div class="container">

		<a th:href="@{/admin-page/categories/add}" style="margin: 20px 0" class="btn btn-primary">Add Category</a>
		<div class="form-group">
			<input type="text" id="categorySearch" class="form-control" placeholder="Search categories...">
		</div>

		<h2>Category List</h2>

		<table class="table" id="categoryTable">
			<thead class="thead-light">
				<tr>
					<th scope="col">SN</th>
					<th scope="col">Category Name</th>
					<th scope="col">Delete</th>
					<th scope="col">Edit</th>
				</tr>
			</thead>


			<tbody>
				<tr th:each="category, iStat : ${categories}" id="categoryTableRow">
					<th scope="row" th:text="${currentPage * 4 + iStat.index + 1}">1</th>
					<td th:text="${category.name}">Category Name</td>
					<td>
						<button class="btn btn-danger"
							onclick="confirmDelete('Are you sure you want to delete?', '/admin-page/categories/delete/{id}(id=${category.id})')">Delete
						</button>
					</td>
					<td>
						<a href="" th:href="@{/admin-page/categories/update/{id}(id=${category.id})}"
							class="btn btn-warning">Edit</a>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- Pagination -->
		<nav aria-label="Page navigation">
			<ul class="pagination">
				<li th:class="${currentPage == 0 ? 'page-item disabled' : 'page-item'}">
					<a th:href="@{/admin-page/categories(page=0)}" class="page-link">First</a>
				</li>
				<li th:class="${currentPage == 0 ? 'page-item disabled' : 'page-item'}">
					<a th:href="@{/admin-page/categories(page=${currentPage - 1})}" class="page-link">Previous</a>
				</li>
				<li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}" class="page-item"
					th:class="${pageNumber == currentPage ? 'active' : ''}">
					<a class="page-link" th:href="@{/admin-page/categories?page=__${pageNumber}__}"
						th:text="${pageNumber + 1}"></a>
				</li>
				<li th:class="${currentPage == totalPages - 1 ? 'page-item disabled' : 'page-item'}">
					<a th:href="@{/admin-page/categories(page=${currentPage + 1})}" class="page-link">Next</a>
				</li>
				<li th:class="${currentPage == totalPages - 1 ? 'page-item disabled' : 'page-item'}">
					<a th:href="@{/admin-page/categories(page=${totalPages - 1})}" class="page-link">Last</a>
				</li>
			</ul>
		</nav>


		<a th:href="@{/admin-page}" class="btn btn-secondary">Back</a>
	</div>

	<footer style="background-color: #eee6d3;">
		<div class="container p-4 mt-4">
			<div class="row">
				<div class="col-lg-6 col-md-16 mb-4">
					<h5 class="mb-3 text-dark">footer content</h5>
					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
						molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
						voluptatem veniam, est atque cumque eum delectus sint!
					</p>
				</div>
				<div class="col-lg-3 col-md-6 mb-4">
					<h5 class="mb-3 text-dark">links</h5>
					<ul class="list-unstyled mb-0">
						<li class="mb-1">
							<a href="#!" style="color: #4f4f4f;">FAQ</a>
						</li>
						<li class="mb-1">
							<a href="#!" style="color: #4f4f4f;">Classes</a>
						</li>
						<li class="mb-1">
							<a href="#!" style="color: #4f4f4f;">Pricing</a>
						</li>
						<li>
							<a href="#!" style="color: #4f4f4f;">Safety</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 mb-4">
					<h5 class="mb-1 text-dark">opening hours</h5>
					<table class="table" style="border-color: #666;">
						<tbody>
							<tr>
								<td>Mon - Fri:</td>
								<td>8am - 9pm</td>
							</tr>
							<tr>
								<td>Sat - Sun:</td>
								<td>8am - 1am</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
			© 2020 Copyright:
			<a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
		</div>
		<!-- Copyright -->
	</footer>


	<!-- JavaScript libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<script>
		function confirmDelete(message, url) {
			if (confirm(message)) {
				window.location.href = url;
			}
		}

		document.addEventListener("DOMContentLoaded", function () {
			const searchInput = document.getElementById('categorySearch');
			const categories = document.querySelectorAll('#categoryTable tbody tr');

			searchInput.addEventListener('input', function () {
				const searchTerm = this.value.trim().toLowerCase();

				categories.forEach(function (category) {
					const categoryName = category.querySelector('td:nth-child(2)').textContent.toLowerCase();

					if (categoryName.includes(searchTerm)) {
						category.style.display = 'table-row';
					} else {
						category.style.display = 'none';
					}
				});
			});
		});
	</script>
</body>

</html>