<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="css/home.css" />
	<link rel="stylesheet" th:href="@{../css/home.css}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/2e0586df66.js"></script>
	<title>Listing - Online Book Store</title>
</head>

<body>
	<!-- Top Nav -->
	<header>
		<div class="container">
			<div class="logo">
				<h2><a href="index.html">Online Book Store</a></h2>
				<p>Your one stop book shop</p>
			</div>
			<div class="search-box">
				<input type="search" placeholder="Search Books" />
				<i class="fas fa-search"></i>
			</div>
		</div>
	</header>

	<main>
		<div class="book-section-container">
			<!-- Must Read Books -->
			<div class="book-section">
				<h2>All Books</h2>
				<div class="card-wraper">
					<div class="card">
						<img src="/image/books/a.jpg" alt="Book" srcset="/image/books/a.jpg" />
						<h3>Giant Days</h3>
						<p>by John Allison</p>
						<a class="btn btn-primary" href="detail.html">Read More</a>
					</div>
					<div class="card">
						<img src="/image/books/b.jpg" alt="Book" srcset="/image/books/b.jpg" />
						<h3>To Be Taught, If Fortunate</h3>
						<p>by Becky Chambers</p>
						<a class="btn btn-primary" href="detail.html">Read More</a>
					</div>
					<div class="card">
						<img src="/image/books/c.jpg" alt="Book" srcset="/image/books/c.jpg" />
						<h3>Bitch Planet</h3>
						<p>by Kelly Sue DeConnick</p>
						<a class="btn btn-primary" href="detail.html">Read More</a>
					</div>
					<div class="card">
						<img src="/image/books/a.jpg" alt="Book" srcset="/image/books/d.jpg" />
						<h3>Paper Girls</h3>
						<p>by Brian K. Vaughan</p>
						<a class="btn btn-primary" href="detail.html">Read More</a>
					</div>
					<div class="card">
						<img src="img/books/e.jpg" alt="Book" srcset="/image/books/e.jpg" />
						<h3>A Terrible Plan</h3>
						<p>by Noelle Stevenson, Shannon Watters</p>
						<a class="btn btn-primary" href="detail.html">Read More</a>
					</div>
				</div>
			</div>

			<!-- Best Selling Books -->
			<div class="book-section">
				<div class="card-wraper">
					<div class="card">
						<img src="/image/books/a.jpg" alt="Book" srcset="/image/books/a.jpg" />
						<h3>Giant Days</h3>
						<p>by John Allison</p>
						<a class="btn btn-primary" href="detail.html">Read More</a>
					</div>
					<div class="card">
						<img src="/image/books/b.jpg" alt="Book" srcset="/image/books/b.jpg" />
						<h3>To Be Taught, If Fortunate</h3>
						<p>by Becky Chambers</p>
						<a class="btn btn-primary" href="detail.html">Read More</a>
					</div>
					<div class="card">
						<img src="/image/books/c.jpg" alt="Book" srcset="/image/books/c.jpg" />
						<h3>Bitch Planet</h3>
						<p>by Kelly Sue DeConnick</p>
						<a class="btn btn-primary" href="detail.html">Read More</a>
					</div>
					<div class="card">
						<img src="/image/books/d.jpg" alt="Book" srcset="/image/books/d.jpg" />
						<h3>Paper Girls</h3>
						<p>by Brian K. Vaughan</p>
						<a class="btn btn-primary" href="detail.html">Read More</a>
					</div>
					<div class="card">
						<img src="/image/books/e.jpg" alt="Book" srcset="/image/books/e.jpg" />
						<h3>A Terrible Plan</h3>
						<p>by Noelle Stevenson, Shannon Watters</p>
						<a class="btn btn-primary" href="detail.html">Read More</a>
					</div>
				</div>
			</div>

			<!-- Popular This Month Books -->
			<div class="book-section">
				<div class="card-wraper">
					<div class="card">
						<img src="/image/books/a.jpg" alt="Book" srcset="/image/books/a.jpg" />
						<h3>Giant Days</h3>
						<p>by John Allison</p>
						<a class="btn btn-primary" href="detail.html">Read More</a>
					</div>
					<div class="card">
						<img src="/image/books/b.jpg" alt="Book" srcset="/image/books/b.jpg" />
						<h3>To Be Taught, If Fortunate</h3>
						<p>by Becky Chambers</p>
						<a class="btn btn-primary" href="detail.html">Read More</a>
					</div>
					<div class="card">
						<img src="/image/books/c.jpg" alt="Book" srcset="/image/books/c.jpg" />
						<h3>Bitch Planet</h3>
						<p>by Kelly Sue DeConnick</p>
						<a class="btn btn-primary" href="detail.html">Read More</a>
					</div>
					<div class="card">
						<img src="/image/books/d.jpg" alt="Book" srcset="/image/books/d.jpg" />
						<h3>Paper Girls</h3>
						<p>by Brian K. Vaughan</p>
						<a class="btn btn-primary" href="detail.html">Read More</a>
					</div>
					<div class="card">
						<img src="/image/books/e.jpg" alt="Book" srcset="/image/books/e.jpg" />
						<h3>A Terrible Plan</h3>
						<p>by Noelle Stevenson, Shannon Watters</p>
						<a class="btn btn-primary" href="detail.html">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer style="background-color: #eee6d3;">
		<div class="container p-4 mt-4">
			<div class="row">
				<div class="col-lg-6 col-md-16 mb-4">
					<h5 class="mb-3 text-dark">footer content</h5>
					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
						molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
						voluptatem veniam, est atque cumque eum delectus sint!
					</p>
				</div>
				<div class="col-lg-3 col-md-6 mb-4">
					<h5 class="mb-3 text-dark">links</h5>
					<ul class="list-unstyled mb-0">
						<li class="mb-1">
							<a href="#!" style="color: #4f4f4f;">FAQ</a>
						</li>
						<li class="mb-1">
							<a href="#!" style="color: #4f4f4f;">Classes</a>
						</li>
						<li class="mb-1">
							<a href="#!" style="color: #4f4f4f;">Pricing</a>
						</li>
						<li>
							<a href="#!" style="color: #4f4f4f;">Safety</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 mb-4">
					<h5 class="mb-1 text-dark">opening hours</h5>
					<table class="table" style="border-color: #666;">
						<tbody>
							<tr>
								<td>Mon - Fri:</td>
								<td>8am - 9pm</td>
							</tr>
							<tr>
								<td>Sat - Sun:</td>
								<td>8am - 1am</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
			© 2020 Copyright:
			<a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
		</div>
		<!-- Copyright -->
	</footer>

</body>

</html>